<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header id="header">
        <nav>
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/course-materials">Materials</a></li>
            <li><a href="{{ site.baseurl }}/resources">Resources</a></li>
            <li><a href="{{ site.baseurl }}/outlines">Outlines</a></li>
            <li><a href="{{ site.baseurl }}/certification">Certification</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a></li>
          </ul>
        </nav>
      </header>

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        </div>

        {{ content }}

      </section>
    </div>
  </body>
</html>
